.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  
  h1 {
    font-size: clamp(27px, 4vw, 52px);
  }

  .frame {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    
    p {
      flex-basis: 50%;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;

  .card {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    
    .inner {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    img {
      width: 40px;
      height: 40px;
    }
    
    .caption {
      margin-top: 40px;
      flex-grow: 1;
    }
    
    .border {
      border-bottom: solid 1px black;
      transform-origin: center;
    }
  }
}

@media (max-width: 425px) {
  
  .frame {
    flex-direction: column;
  }
  
  .cards {
    
    .card {
      flex-basis: 100%;
      padding: 0;
      .inner {
        display: flex;
        gap: 10px;
        flex-direction: row;
        align-items: center;
        
        .caption {
          margin: 0;
        }
      }
    }
  }
}