.wrapper {

  height: 450px;
}

.accordionCol {
  display: none;
}

.accordionRow {
  display: flex;
  overflow: hidden;
  height: 100%;
  color: black;
  border: solid 1px black;
}

.container {
  display: flex;
  background-color: var(--bg-primary);
  position: relative;

  &:nth-child(-n+3) {
    .label {
      border-right: solid 1px black;
    }
  }

  &:nth-child(4) {
    .content {
      border-left: solid 1px black;
    }
  }

  .label {
    height: 100%;
    width: 110px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


    p {
      user-select: none;
      color: black;
      white-space: nowrap;
      transform: rotate(-90deg);
    }
  }

  .content {
    display: flex;

    p {
      width: 100%;
      padding: 10px;
    }

    img {
      flex-shrink: 1;
      min-width: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

@media (max-width: 425px) {
  .accordionRow {
    display: none;
  }

  .wrapper {
    height: auto;
  }

  .accordionCol {
    display: block;
    
    .borderTop {
      border-top: solid 1px black;
      width: 100%;
      height: 100%;
      transform-origin: center;
    }

    .label {
      height: 100%;
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 16px 0;
      font-weight: 600;
    }

    .content {
      overflow: hidden;
      background-color: var(--bg-primary);
      border-top: dashed 0.5px #a69e9e;
    }
  }
}