.navLinks {
  display: flex;
  column-gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;

  a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    display: flex;
    overflow: hidden;
    font-size: clamp(3rem, 5vw, 4.5rem);
    //padding-right: 30px;
    //padding-top: 10px;
    font-weight: 400;
    white-space: pre;
  }
}

